.error {
	font-size: 13px;
	color: red;
}

.uploadContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.category {
	margin: 25px auto 40px;
}
.createCat {
	margin: 30px auto;
	display: flex;
	flex-flow: row nowrap;
}

.catInput {
	width: 40%;
}

.link {
	font-size: 13px;
	cursor: pointer;
	color: blue;
}