.error {
	font-size: 13px;
	color: red;
}

.uploadContainer {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	padding: 50px 0;
}

.add {
	position: relative;
	bottom: 60px;
	left: 45%;
	padding: 10px;
	background: #000;
	color: #fff;
	border-radius: 30px;
}

.category {
	margin: 25px auto 40px;
}
.createCat {
	margin: 30px auto;
	display: flex;
	flex-flow: row nowrap;
}

.catInput {
	width: 40%;
}

.link {
	font-size: 13px;
	cursor: pointer;
	color: blue;
}
