.buttonBase {
  letter-spacing: 1px;
  border: 2px solid #000;
  margin: 5% auto;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  color: #000;
  padding: 10px 18px;
}

.buttonBase:hover {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.buttonDark:hover {
  background: none;
  color: #fff;
  border: 2px solid #fff;
}
