.wrapper {
	background: #4B4B4B;
	margin: 0 auto;
	padding: 20px 40px;
	border-radius: 35px;
}

.container {
	width: 100%;
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
