.wrapper {
	background: #000;
	color: #fff;
	margin: 15px auto;
	padding: 40px 20px;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-around;
}

.img {
	width: 35%;
}

.info {
	width: 40%;
}

.info h1 {
	font-size: 22px;
}

.info h3 {
	font-weight: 300;
	font-size: 14px;
}

.button {
	width: 20%;
}
