.button {
	border: 1px solid #000;
	background: #000;
	color: orange;
	padding: 12px 14px;
	margin: 0 5px;
	cursor: pointer;
}

.activeButton, .button:hover {
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 12px 14px;
	cursor: pointer;
}
